html	{
	margin-top: 0px;
}

body	{
	background: white;
	color: #333;
	font-size: 10pt;
	font-family: sans-serif;
	max-width: 800px;
	min-width: 500px;
	margin: auto;
	padding: 30px;
}

a	{
	text-decoration: none;
	color: #ccc;
}

a:hover	{
	color: #333;
}

h1	{
	font-family: serif;
	font-size: 24px;
	font-weight: bold;
}

/*
 * Body styles
 */
#Content	{
	min-width: 500px;
	max-width: 700px;
	margin: 0 30px 0 30px;
	padding: 10px;
	margin-bottom: -2em;
}

#Content .spacer	{
	height: 4em;
}

ul#Locales	{
	list-style: none;
	text-align: center;
	position: absolute;
	right: 10px;
	top: 10px;
	margin-top: 0px;
}

ul#Locales > li	{
	display: inline;
	color: #aaa;
	margin-right: 5px;
}

ul#Locales > li:before	{
	content: " | "; 
}

ul#Locales > li:first-child:before	{
	content: ""; 
}

ul#Locales > li img	{
	border: none;
	width: 16px;
}

ul#Locales > li a	{
	margin-left: 6px;
}


/*
 * Header styles
 */
#Header	{
	position: relative;
	text-align: center;
	max-width: 800px;
	margin: auto;
}

#Header h1	{
	padding-top: 15px;
	margin-bottom: none;
}

#Header #Headshot	{
	float: left;
	margin: 0px 15px 15px;
	height: 150px;
}

#Header #TitleBlock	{
	height: 135px;
	margin-bottom: -2em;
}

#Header #NavigationBar	{
	list-style-type: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

#Header #NavigationBar a	{
	color: #999;
	font-weight: bold;
	text-decoration: none;
}

#Header #NavigationBar a:hover	{
	color: #333;
}

#Header #NavigationBar hr	{
	background: #cccccc;
	height: 2pt;
	border: none;
	margin: 5px;
}

#Header #NavigationBar li	{
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 0;
}

#Header #NavigationBar li.selected_link	{
	margin: 0px 3px 0px 3px;
}

#Header #NavigationBar li p	{
	display: inline;
	padding: 5px 5px 5px 5px;
}

#Header #NavigationBar li.selected_link p	{
	display: inline;
	border-left: 2px solid #ccc;
	border-right: 2px solid #ccc;
	background-color: #eee;
	padding: 5px 5px 5px 5px;
}

/*
 * Footer Styles
 */
#Footer	{
	clear: both;
	height: 2em;
}

#Footer p	{
	text-align: center;
	vertical-align: bottom;
	height: 100%;
	color: #666666;
	font-size: 8pt;
	font-style: oblique;
}