*	{
	margin: 0;
}

html, body	{
	color: #333333;
	font-family: serif;
	width: 700px;
	height: 100%;
	margin: auto;
	font-size: 10pt;
	padding: 0;
}

.spacer	{
	height: 10em;
}

#CenterBlock	{
	min-width: 700px;
	min-height: 100%;
	margin: 0 auto -3em;
}

#CenterBlock #Headshot {
	float: left;
	margin: 15px;
	width: 200px;
}

#CenterBlock #NavigationLinks	{
	clear: both;
	text-align: center;
}

#CenterBlock #NavigationLinks a	{
	color: #999;
	font-weight: bold;
	text-decoration: none;
}

#CenterBlock #NavigationLinks a:hover	{
	color: #333;
}

#CenterBlock #NavigationLinks p	{
	font-size: 14pt;
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 5px 5px 5px 5px;
}

#CenterBlock #TitleBlock	{
	float: right;
	width: 450px;
}

#CenterBlock #TitleBlock h1	{
	margin-top: 40px;
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#CenterBlock #TitleBlock p	{
	padding: 20px;
}
