*	{
	margin: 0;
}

html, body	{
	color: #333333;
	font-family: serif;
	width: 700px;
	height: 100%;
	margin: auto;
	font-size: 10pt;
}

.subtle	{
	color: #666666;
	font-size: 8pt;
	font-style: oblique;
}

#Footer	{
	height: 3em;
	width: 700px;
}

#Footer p	{
	clear: both;
	text-align: center;
}

.spacer	{
	height: 10em;
}

#CenterBlock	{
	min-width: 700px;
	min-height: 100%;
	margin: 0 auto -3em;
}

#CenterBlock #TitleBlock	{
	float: right;
	width: 450px;
	padding-right: 20px;
	padding-bottom: 10em;
}

#CenterBlock #TitleBlock h1	{
	margin-top: 40px;
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
}

#CenterBlock #TitleBlock p	{
	padding: 20px;
}

#CenterBlock #Headshot {
	float: left;
	margin: 15px;
	width: 200px;
}