<div id="CenterBlock">
	<div class="spacer"></div>
	<%= image_tag 'headshot.jpg', :id => 'Headshot' %>
	<div id="TitleBlock">
		<h1><%=t :Name -%></h1>
		<p>
			<%=t 'content.purpose_statement' %>
		</p>
	</div>
	<%= render :partial => 'navigation_links' %>
	<div class="spacer"></div>
</div>
