<div id="CenterBlock">
	<div class="spacer"></div>
	<%= image_tag 'headshot.jpg', :id => 'Headshot' %>
	<div id="TitleBlock">
		<h1><%=t :name -%></h1>
		<p>
			<%=t :purpose_statement %>
		</p>
	</div>
	<div class="spacer"></div>
</div>

<div id="Footer">
	<p class="subtle">
		All content is Copyright 2008 Andres Jaan Tack unless otherwise noted.
	</p>
</div>
