<ul id="NavigationBar">
	<hr />
	<% public_links.each do |target, link| %>
		<% unless locale_independentize == target %>
			<li>
				<a href="<%= link[:path] -%>">
					<p><%= link[:title] -%></p>
				</a>
			</li>			
		<% else %>
			<li class="selected_link">
				<a href="<%= link[:path] -%>">
					<p><%= link[:title] -%></p>
				</a>
			</li>
		<% end %>
	<% end %>
	<hr />
</ul>
