<ul id="NavigationBar">
	<hr />
	<% public_links.each do |target, name | %>
		<% unless request.path == target %>
			<li><%= link_to name, target -%></li>
		<% else %>
			<li class="selected_link"><%= link_to name, target -%></li>
		<% end %>
	<% end %>
	<hr />
</ul>
