<ul id="NavigationBar">
	<hr />
	<% public_links.each do |target, link| %>
		<% unless locale_independentize == target %>
			<li><%= link_to link[:title], link[:path] -%></li>
		<% else %>
			<li class="selected_link"><%= link_to link[:title], link[:path] -%></li>
		<% end %>
	<% end %>
	<hr />
</ul>
