<h1><%=t 'page_titles.about_me' -%></h1>
<p>
	Ma olen Andres Jaan Tack. Olen teise aasta Ph.D kraadiõpilane, kes õppib <a href="http://www.cs.wisc.edu/">arvutiteadust</a> <a href="http://www.wisc.edu/">University of Wisconsin–Madison</a> juures. Ma õppin operatsioone süsteemit, ja olen õnnelik et töötada <a href="http://pages.cs.wisc.edu/~swift/">Michael Swift-ga</a> (arvatavasti parim tuntunud tema töö <a href="http://pages.cs.wisc.edu/~swift/projects/drivers.html">driver isolatsiooni</a> eest). Ennem kui saabusin Madisonisse, olin üliõpilane <a href="http://www.cs.illinois.edu/">University of Illinois</a> juures, kus olin seotud nende ACM õpilaste seltsiga, ja töötasin mõnde edukaste projekide peal. Enamik silmapaistev, olin üks, kes on Scheedule.com loonud, ka oli väga seotud <a href="http://www.acm.illinois.edu/conference/">Reflections|Projections</a> konverentsiga. Olin juht sellest konverentsist <a href="http://www.acm.illinois.edu/conference/2007/">2007 aasta sügisel</a>.
</p>

<p><%=t 'content.page_not_translated' -%></p>
