<h1><%=t 'page_titles.about_me' -%></h1>
<p>
	Ma olen Andres Jaan Tack. Olen teise aasta Ph.D kraadiõpilane, kes õpib <a href="http://www.cs.wisc.edu/">arvutiteadust</a> <a href="http://www.wisc.edu/">University of Wisconsin–Madison</a> juures. Ma õppin operatsioone süsteeme, ja olen õnnelik et töötada <a href="http://pages.cs.wisc.edu/~swift/">Michael Swift-ga</a> (enam tuntud oma töö <a href="http://pages.cs.wisc.edu/~swift/projects/drivers.html">driver isolatsiooni</a> eest). Ennem kui saabusin Madisonisse, olin üliõpilane <a href="http://www.cs.illinois.edu/">University of Illinois</a> juures, kus olin seotud nende ACM õpilaste seltsiga, ja töötasin mõnede edukate projekide kallal. Kõige tähtsam on et olin üks Scheedule.com loojatest, ja olin ka tihedalt seotud <a href="http://www.acm.illinois.edu/conference/">Reflections|Projections</a> konverentsidega mille juht ma lõpuks olin <a href="http://www.acm.illinois.edu/conference/2007/">2007 aasta sügisel</a>.
</p>

<p>
	Kuna süsteeme uurijana, olen ekstensiivselt töötanud transaksionaalsede mälude täitmistega. Olen muutunud suurdeid rakendust, et kasutada I/O-safe transaktsiooneid mutexide eest, olen TM kasutanud kuna vigade paranduse tööriistana, ja hiljuti muutun ühe TinySTM'ist põhinetud süsteeme, et transaktsiooneid toetada akuklassne mälu kontekstis. Mälutransaktsioonid on, minu vaades, väärtuslik paralleelse programmeerimise metafoor, kõrval oleolemaste metafooridega nagu mutexid. Peale selle, ja mille peale ma hiljuti töötan, ma pannan ette et see tavaline vaade mälutransaktsioonidest (et nad toetavad terve täismuutumise ja isolatsiooni garantid) võib olla mittevajalik. Õigupoolest, usun et kitsaotstarvega transaktsioonid, mis teotavad erilist huvi ennem kui üldliste huvi, on rohkem tõenäolised suuresti edukas olla.
</p>

<p><%=t 'content.page_not_translated' -%></p>
