<h1><%=t 'page_titles.about_me' -%></h1>
<p>
My name is Andres Jaan Tack, and I'm a first-year Ph.D graduate student in <a href="http://www.cs.wisc.edu/">computer science</a> at the <a href="http://www.wisc.edu/">University of Wisconsin-Madison</a>. I've chosen to focus my studies on operating systems, and am a lucky student of <a href="http://pages.cs.wisc.edu/~swift/">Mike Swift</a> (perhaps best-known for his work in <a href="http://pages.cs.wisc.edu/~swift/projects/drivers.html">driver isolation</a>). Previous to my time in Madison, I was an undergraduate student at the <a href="http://www.cs.illinois.edu/">University of Illinois</a>, where I was deeply involved with their <a href="http://www.acm.illinois.edu/">ACM student chapter</a> and worked on several successful projects. Most notably, I was one of the creators of <a href="http://www.scheedule.com/">Scheedule.com</a>, and I was an integral part of <a href="http://www.acm.illinois.edu/conference/">Reflections|Projections</a>, a computing conference which I eventually chaired in the <a href="http://www.acm.illinois.edu/conference/2007/">fall of 2007</a>.
</p>

<p>
As a systems researcher, my work thus far has been connected with emerging transactional memory implementations, assisting <a href="http://pages.cs.wisc.edu/~hvolos/">Haris Volos</a>. Specifically, as my part of our recently published paper (xCalls: Safe I/O in Memory Transactions), I spent a great deal of time working with the Intel <a href="http://software.intel.com/en-us/articles/intel-c-stm-compiler-prototype-edition-20/">Software Transactional Memory (STM) Prototype</a> compiler, replacing different subsystems of the <a href="https://www.isc.org/software/bind">BIND</a> DNS server with transactionalized versions and measuring performance results. The results will be published in paper form at <a href="http://eurosys2009.informatik.uni-erlangen.de/">EuroSys 2009</a>.
</p>

<p>
In general, my interests in operating systems rest with issues of concurrency and parallelism. Transactional memory is one example of an emerging technology which I believe will require operating system support to be truly viable. I am also increasingly fascinated with OS treatment of heterogeneous processing units (like the <a href="http://arstechnica.com/old/content/2005/02/cell-1.ars">IBM Cell</a>, found in the Playstation 3), as well as the use of high-level programming language constructs to improve performance (as in <a href="http://domino.research.ibm.com/comm/research_projects.nsf/pages/k42.index.html">K42</a>). Computers are becoming faster, and our programming languages are getting better; I want to be at the meeting of those two trends, where our operating systems make neat and efficient programming easier to get right.
</p>

<p>
I enjoy, as my primary hobby, playing music. Since shortly before college, I play the euphonium and the trombone, and I've since played in numerous ensembles. I especially enjoy playing in british brass bands, and I am currently a euphonium player and board member of the <a href="http://www.madisonbrass.com/">Madison Brass Band</a>.
</p>

<p>
I am, lastly, ethnically half-Estonian, having grown up with the language at my grandparents' house in my home town of Lake Forest. Foreign languages are a special fascination of mine; I'm currently learning French, in response to an enchanting trip to europe this past summer, and I've been steadily re-learning Estonian, my first language, for about a year now.
</p>