<%= render :partial => 'layouts/doctype' %>

<html xmlns="http://www.w3.org/1999/xhtml">
	<%= render :partial => 'layouts/common_head' %>
	
	<body>
		<%= yield %>
		<%= render :partial => 'layouts/google_analytics' %>
	</body>
</html>